<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Products</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if !user_signed_in? %>
            <li class="nav-item">
              <%= link_to "LogIn" , new_user_session_path, class: "btn" %>
            </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Add product" , new_product_path, class: "btn" %>
              </li>
              <li class="nav-item">
                <%= button_to "LogOut" , destroy_user_session_path, method: :delete, data: { turbo: "false" }, class: "btn" %>
              </li>
              <li class="nav-item">
                <%= link_to "Register new user" , new_user_registration_path, class: "btn" %>
              </li>
              <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <ol class="list-group list-group-numbered">
    <div id="products">
      <% @products.each do |product| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              <%= product.name %>
                <br>
            </div>
            Price: <%= product.price %> PKR
          </div>
          <span class="badge text-bg-primary rounded-pill"></span>
        </li>
        <% end %>
    </div>
  </ol>
</div>